<style type="text/css">
	.green {
		color: green;
	}

	.red {
		color: red;
	}

	.t {
		width: 500px;
	}
</style>


<table>

{% for client in clients %}

<tr>
	<td><form action="/update-name/{{ clients[client]['mac_address'] }}" method="GET"><input name="name" type="text" placeholder="name" value="{{ clients[client]['name'] }}" /><input type="submit" /></form></td>

	<td>{{ clients[client]['ip_address'] }}</td>
	<td>{{ clients[client]['mac_address'] }}</td>

	<td>{% if clients[client]['last_time'] > offline %}
	<span class="green">online</span>
	{% else %}
	<span class="red">{{clients[client]['last_time']}}</span>
	{% endif %}
	</td>

	<td><form action="/update-url/{{ clients[client]['mac_address'] }}" method="GET"><input class="t" name="url" type="text" placeholder="url" value="{{ clients[client]['url'] }}" /><input type="submit" /></form></td>

	<td><a href="/remove/{{ clients[client]['mac_address'] }}">remove</a></td>
	<td><a href="/action/{{ clients[client]['mac_address'] }}/reboot">reboot</a></td>
</tr>

{% endfor %} 

</table>

