# m h  dom mon dow   command

# Every 2 minutes phone home
*/2 * * * * python ping.py

# Reboot every 6 hours just to keep things running
0 */6 * * * sudo reboot -n

# Check every 10 minutes that wifi is up, and reboot if it isnt.
*/10 * * * * python wifi.py
